extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Omar Gonzalez

        
        p.lead.text-light
          | Full Stack JavaScript Developer and Brazilian Jiu Jitsu player and life long learnerg.

        
        .portfolio-bio
          p
            | I have been teaching English in Japan for 13 years and while I enjoy working with children I felt the need to challenge myself with something new. That is when
            | a friend introduced me to programming. I started with some very basic stuff on Ruby and quickly fell in love  with it so I decided to look for online courses. That
            | is when I found about about team treehouse and their full stack JavaScript program. I enrolled and have been learning so much since.
            | Throughout the course I have built both front-end and back-end applications. My background working with children as an educator in Japan has taught me some valubale skills that suit
            | the tech industry. Skill like patience when solving problems and thinking outside of the box as well as communication skills. These skills came in very handy when
            | when I was working on my projects and working with others trying to debug applications.

            |わたしの名前はオマーです。カナダのバンクーバー出身です。現在、英語の講師を約12年間しています。
            |1年ほどプログラミングの勉強をしていて、teamtreehouse.com のフルスタック開発者コースに登録しています。
            |私はプログラミングの技術をとても楽しんでいます。このWebサイトは私のプロジェクトを雇用者へ見てもらうためにデザインしました。
            |このセクションのフロントエンドからバックエンドの中で私の全てのプロジェクトをご覧頂けます。それぞれのリストは

            |プログラミングとは別に、私はゲームをすることと、ブラジリアン柔術の練習に楽しんでいます。現在ブラジリアン柔術では紫ベルトです。
            |私のサイトをご覧いただき有難うございます。あなた方といっしょに働けることを願っています。
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript
          li jQuery
          li HTML
          li CSS
          li Git
          li Object Oritented Programming
          li APIs
          li Ajax
          li Fetch
          li Nodejs
          li Express
          li Pug framework

        h6 Contact Info


        ul
          li 090-7282-0916
          li gonzalezoe82@gmail.com


        a.button.expanded(href='https://github.com/OmarGon82', target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  