extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Omar Gonzalez

        
        p.lead.text-light
          | Full Stack JavaScript Developer and life long learner.

        
        .portfolio-bio
          p
            | My programming journey began with Python basics. I enjoyed it so much so I decided to learn more and enrolled in the tech degree program at team treehouse.
            | Throughout the course I have built both front-end and back-end applications. My background working with children as an educator in Japan has taught me some valubale skills that suit
            | the tech industry. Skill like patience when solving problems and thinking outside of the box as well as communication skills. These skills came in very handy when
            | when I was working on my projects and working with others to when trying to debug applications.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript
          li jQuery
          li HTML
          li CSS
          li Git
          li Object Oritented Programming
          li APIs
          li Ajax
          li Fetch
          li Nodejs
          li Express
          li Pug framework

        h6 Contact Info


        ul
          li 555-555-5555
          li gonzalezoe82@gmail.com


        a.button.expanded(href='https://github.com/OmarGon82', target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  