extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Omar Gonzalez
        p Welcome to my full-stack journey. Let's build the future together!
      p.lead.text-light
        | These are my projects ranging from front-end to back-end apps. Click on the image for more information.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/projects/${project.id}`, target="_blank")
            img.thumbnail(src=`${project.image_urls.project_images[3]}`, target="_blank")
          h5 #{project.project_name}

